extends layout

block title
  title='Edit Todo'

block content
  h1 Edit a Todo
  form(action="/todo/update", method="post")
    input(type="hidden", value="#{todo.id}", name="id")
    p
      label(for="name") ToDo name
      input(type="text", value="#{todo.name}", name="name", id="name")
    p
      label(for="description") ToDo description
      input(type="text",value="#{todo.description}", name="description", id="description")
    p
      input(type="submit", value="Update", class="button")
