extends layout

block title
  title='New Todo'

block content
  h1 Add a new Todo
  form(action="/todo/create", method="post")
    p
      label(for="name") ToDo name
      input(type="text", placeholder="ToDo Name", name="name", id="name")
    p
      label(for="description") ToDo description
      input(type="text", placeholder="Description", name="description", id="description")
    p
      input(type="submit", value="Add", class="button")
